<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="application/javascript" src="/socket.io/socket.io.js"></script>
    <script src="./ejs.min.js"></script>
    <script>
      const user = '<%= user %>';
      const messageDB = '';
    </script>
    <script defer language="JavaScript" type="text/javascript" src="/js/index.js"></script>
    <script defer language="JavaScript" type="text/javascript" src="/js/activity-watcher.js"></script>
  </head>
  <body>
    <h1>Hallo <%= user %></h1>
    <form action="/logout">
      <button type="submit">Logout</button>
    </form>
    <ul id="roomContainer">
        <% rooms.forEach(room => { %>
            <div><%= room %> </div>
            
            <% const roomManipulated = room.replace(/\s/g, "+") %>
            <a href="http://localhost:8080/room/<%= roomManipulated%>/user/<%= user %>">Join</a>
            <!-- <a href="https://chat-app-with-mongodb.herokuapp.com/room/<%= roomManipulated%>/user/<%= user %>">Join</a> -->
        <% }); %>
    </ul>
    <form id="formCreateNewRoom" action="/room" method="POST">
        <label for="roomName">Enter room name: </label>
        <input type="text" name="roomName" required />
        <input type="hidden" type="text" name="roomUser" value="<%= user %>"/>
        <button type="submit">Create new room</button>
    </form>
    <div>
      <h2>Details</h2>
        <ol>
          <li>You can enter a chat only once. The older socket gets disconnected</li>
          <li>You can join multible chats at the same time. Please user the 'Open Link in new Tab' function </li>
          <li>In the chat you get infos about who is allready connected, who joines, who leaves</li>
          <li>You will be logged out after 1 hour of inactivity.</li>
        </ol>
    </div>
  </body>
</html>