<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/chatroom.css" >
    <link rel="stylesheet" href="/main.css" >
    <script type="application/javascript">
      const room = "<%= room %>";
      const user = "<%= user %>";
      const messageDB = "<%= messages %>";
    </script>
    <script type="application/javascript" src="/socket.io/socket.io.js"></script>
    <script defer language="JavaScript" type="text/javascript" src="/js/index.js"></script>
    <script defer language="JavaScript" type="text/javascript" src="/js/room.js"></script>
    <script defer language="JavaScript" type="text/javascript" src="/js/activity-watcher.js"></script>
  </head>
  <body class="border-container">
    <!-- <div class="content"> -->
    <div class="container-chatroom">
    <h1>Welcome in room <%= room %> <%=user%></h1>
    <a class="link" href="https://juliettes-great-chat-app.herokuapp.com/index/user/<%= user %>">Back</a>
    <!-- <a class="link" href="http://localhost:8080/index/user/<%= user %>">Back</a> -->
    <!-- message area -->
    <ul id="messages"></ul>
    <!-- input area -->
    <form class="form-chatroom" id="form" action="">
      <!-- input field with input button -->
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <!-- <script language="JavaScript" type="text/javascript" src="/index.js"></script> -->
  </div>
  </body>
</html>